<form (submit)="handleSubmit($event)" [formGroup]="studentForm" ngNativeValidate>


  <div class="row" *ngFor="let item of schema.properties">
    <div class="six columns" *ngIf="item.type == 'string'">
      <label for="{{item.name}}"> {{item.label}} </label>
      <input [placeholder]="item.name" class="u-full-width" type="text" id="{{item.name}}" [formControlName]="item.name"
        required pattern="{{item.pattern}}">
    </div>

    <div *ngIf="item.type == 'enum'" class="six columns">
      <label for="">{{item.label}}</label>
      <div>
        <select name="{{ item.name }}" [formControlName]="item.name" [id]="item.name" class="u-full-width">
          <option value="" selected disabled hidden>
            Choose here
          </option>
          <option value="item.value" *ngFor="let item of item.options" [ngValue]="item.value">
            {{ item.label }}
          </option>
        </select>
      </div>
    </div>


    <div *ngIf="item.type == 'number'" class="six columns">
      <label for="">{{item.label}}</label>
      <div>
        <input type="text" [formControlName]="item.name" [placeholder]="item.name" required>
      </div>
    </div>


    <div *ngIf="item.type == 'object'">
      <div class="obj" formGroupName="{{item.name}}">
        <label for="">{{item.label}}</label>
        <div *ngFor="let item of item.properties">
          <div *ngIf="item.type === 'string'">
            <input type="text" [placeholder]="item.name" [formControlName]="item.name">
          </div>
          <div *ngIf="item.type === 'object'">
            <div class="obj" formGroupName="{{item.name}}">
              <label for="">{{item.label}}</label>
              <div *ngFor="let item of item.properties">
                <div *ngIf="item.type === 'string'">
                  <input type="text" [placeholder]="item.name" [formControlName]="item.name">
                </div>
                <div *ngIf="item.type === 'object'">
                  <div class="obj" formGroupName="{{item.name}}">
                    <label for="">{{item.label}}</label>
                    <div *ngFor="let item of item.properties">
                      <div *ngIf="item.type === 'string'">
                        <input type="text" [placeholder]="item.name" [formControlName]="item.name">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div *ngIf="item.type == 'array'">
      <h4>{{item.label}}</h4>
      <div class="arr">
        <div *ngFor="let subItem of item.item.properties">
          <div class="ten columns" [formArrayName]="item.name">
            <label>{{subItem.label}}</label>
            <input [formControlName]="subItem.name" type="text" [placeholder]="subItem.name" required>
          </div>
        </div>
        <button type="button" (click)="addArrInput(item)">Add Item</button>
      </div>
    </div>


    <div *ngIf="item.type == 'boolean'">
      <label for="{{ item.name }}">{{ item.label }}</label>
      <input type="checkbox" id="{{ item.name }}" [formControlName]="item.name" />
    </div>
  </div>


  <pre class="info">{{ this.studentForm.value | json }}</pre>
  <button type="submit">Submit</button>
</form>